<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.five_chords.chord_builder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Start Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.StartPage"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.MainActivity"
            android:label="Chord Builder">
        </activity>

        <!-- Settings Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.SettingsPage"
            android:label="Settings"
            android:parentActivityName=".com.five_chords.chord_builder.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.five_chords.chord_builder.activity.MainActivity" />
        </activity>


        <!-- Chords Settings Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.SettingsChords"
            android:label="Settings for Chords" />


        <!-- Chords Settings Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.SettingsChordOptions"
            android:label="Advanced Settings for Chords" />

        <!-- Help Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.HelpPage"
            android:label="Help"
            android:parentActivityName=".com.five_chords.chord_builder.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.five_chords.chord_builder.activity.MainActivity" />
        </activity>

        <!-- About Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.AboutPage"
            android:label="About"
            android:parentActivityName=".com.five_chords.chord_builder.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.five_chords.chord_builder.activity.MainActivity" />
        </activity>

        <!-- Score Page Activity -->
        <activity
            android:name=".com.five_chords.chord_builder.activity.ScorePage"
            android:label="Scores"
            android:parentActivityName=".com.five_chords.chord_builder.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.five_chords.chord_builder.activity.MainActivity" />
        </activity>

        <activity android:name=".com.five_chords.chord_builder.activity.demo" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
